* {
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("pewds.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.beep {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 20%;
  letter-spacing: 0.05rem;
}
